.task {
    width: 80%;
    overflow: auto;
    color: black;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.84);
    font-size: 24px;
    border: 4px #35065a solid;
    border-radius: 20px;
    padding: 10px;
    cursor: all-scroll;
    opacity: 1;

}

.task:focus {
    border: 8px black solid;
}

.closed-button__container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.closed-button {
    width: 40px;
    height: 40px;
    background: none;
    border-radius: 20px;
    border: 2px solid;
    font-size: 20px;
}

.closed-button:hover {
    background: darkblue;
    color: wheat;
    cursor: pointer;

}

.task-date {

}

.create-date {

}

.task-deadline {

}

.deadline-date {

}

.task-text__block {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.deleted {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.task-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-text:hover {
    cursor: pointer;
}

.task-status {

}

.status-text {

}

.status-check {
    float: right;
    transform: scale(3);
    opacity: 0.5;
    cursor: pointer;
    margin-right: 20px;
}

.new-task__form {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    font-size: 16px;
    border: black 3px solid;
    border-radius: 20px;
    background: #2584ff;
    color: wheat;
}

.task-form__label {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.new-task-date {
    height: 40px;
}

.new-task-text {
    height: 130px;
    resize: none;
}


