body {
    font-family: "Abyssinica SIL";

}


.todo__container {
    width: 75%;
    margin: 0 auto;
    border-radius: 30px;
    border: 12px solid lightslategray;
    background-color: rgba(103,194,255,0.84);

}

/*.todo__container > div {
    border: 3px solid;

}*/

.todo__head {
    text-align: center;
    font-size: 45px;
    border-radius: 18px 18px 0px 0px;
}

.todo__tasks {
    display:flex;
    width: 100%;
    box-sizing: border-box;
}

.todo__tasks > div {
    display:flex ;
    box-sizing: content-box;
    border: 3px solid;
}

.undone-tasks {
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-height: 400px;
    overflow: auto;

}

.undone-tasks__header {
    width: 100%;
    border: 3px solid;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;

}

.undone-tasks__container {
    width: 95%;
}

.new-task__container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.new-task__button {
    width: 100%;
    height: 40px;
    background: cornflowerblue;
    color: aqua;
}

.new-task__button:hover {
    background: lightblue;
    cursor: pointer;

}

.done-tasks {
    flex-direction: column;
    width: 50%;
    min-height: 400px;
    overflow: auto;

}

.done-tasks__header {
    border: 3px solid;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}
.done-tasks__container {

}

.deleted__tasks__button-container {
    height: 40px;

    border-radius: 0px 0px 18px 18px;
}

.deleted__tasks__container {
    height: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: height 1.5s ease-in-out;
    overflow: auto;

}

.deleted__tasks__container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex: 200px 1 1;
}


.deleted__accordeon {
    height: 300px;
    transition: height 1.5s ease-in-out;
}


.deleted-tasks__button {
    width: 100%;
    height: 40px;
    background: cornflowerblue;
    color: aqua;
    border-radius: 0px 0px 18px 18px;
}

.deleted-tasks__button:hover {
    background: lightblue;
    cursor: pointer;

}

